local_costmap:
  global_frame: odom
  robot_base_frame: base_link
  update_frequency: 5.0
  publish_frequency: 2.0
  static_map: false
  rolling_window: true
  width: 6.0
  height: 6.0
  resolution: 0.05
  plugins:
    - {name: obstacle_layer, type: "costmap_2d::ObstacleLayer"}
    - {name: inflation_layer, type: "costmap_2d::InflationLayer"}
  obstacle_layer:
    observation_sources: scan
    scan:
      topic: /scan
      data_type: LaserScan
      marking: true
      clearing: true
      expected_update_rate: 0.0
      max_obstacle_height: 0.4
      raytrace_max_range: 3.0
      obstacle_max_range: 2.5
  inflation_layer:
    inflation_radius: 0.55

